.p2 {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #bdbfbf;
    width: 375px;
    height: 812px;
  }
  .containerRegistro {
    position: relative;
    top: 190px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  .datos{
    margin: 0 10px;
    top: 100px;
    right: 85px;
    position: absolute;
  }
  .co{
    margin: 30px;
    position: relative;
    top: -50px;
    left: 30px;
  }
  .num{
    margin: 30px;
    position: relative;
    top: -40px;
    left: 30px;
  }
  .cont{
    margin: 30px;
    position: relative;
    top: -30px;
    left: 30px;
  }
  .conf{
    margin: 30px;
    position: relative;
    top: -20px;
    left: 30px;
  }
