.back_button{
    background-color: #BDBFBF;
    background-image: url("/Back Button.svg");
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    float: left;
}
.style{
    width: 100%;
    height: 100%;
}
section{
    margin: 25px;
}