h3{
    color: #000;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.box1{
    border-radius: 10px;
    border: 1px solid #000;
    background: #FFF;
    height: 38px;
    flex-shrink: 0;
    width: 100%;
}
.style3{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.bandera{
    display: flex;
}
