.seccion2 {
  width: 375px;
  height: 836px;
  border-radius: 30px;
  background: #fff;
}
.estrellaboton {
  width: 192px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #e01f23;
  background: #fff;
  color: #e01f23;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
}
.acumuladas {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: -250px;
}
.total {
  width: 288px;
  height: 26px;
  flex-shrink: 0;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.descripcion {
  width: 313px;
  height: 496px;
  flex-shrink: 0;
  color: #343434;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 35px;
  margin-top: 50px;
}
