.boton {
  width: 305px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #9b3434;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 35px;
}
.seccion {
  margin-top: 50px;
  border-radius: 5px;
}

.estrella {
  width: 54px;
  height: 54px;
  margin-top: 55px;
}
.flecha {
  width: 11px;
  height: 15px;
}
.letras {
  width: 152px;
  height: 15px;
  flex-shrink: 0;
  color: #9b3434;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.letras2 {
  width: 273px;
  height: 96px;
  flex-shrink: 0;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  margin-top: 63px;
  margin-left: 20px;
}
.encabezado {
  width: 273px;
  height: 96px;
  flex-shrink: 0;
  display: flex;
  margin: 15px;
}
