.rectangulo {
  background: #c02428;
  width: 375px;
  height: 171px;
  flex-shrink: 0;
  border-radius: 10px;
}
.paisicono {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 1px 0;
  width: 150px;
}

.nombres {
  width: 301px;
  height: 56px;
  flex-shrink: 0;
  color: #fff;
  justify-content: space-around;
  margin: 35px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: #fff;
  font-family: Actor;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -10px;
  margin-left: 28px;
}
.nombres2 {
  width: 301px;
  height: 56px;
  flex-shrink: 0;
  color: #fff;
  font-family: Actor;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: space-around;
  margin: 10px -60px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: -60px;
  margin-left: 28px;
}
.pais {
  width: 128px;
  height: 17px;
  flex-shrink: 0;
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-family: "Poppins", sans-serif;
}
.icono {
  width: 20px;
  height: 20px;
  display: flex;
  margin-top: 10px;
  margin-left: 28px;
}
.lapazbo {
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
  width: 128px;
  height: 17px;
  flex-shrink: 0;
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.messi {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 100px;
  margin-left: 240px;
  margin-top: 105px;
}

.cuenta {
  width: 78px;
  height: 17px;
  flex-shrink: 0;
  color: #9b3434;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 50px 35px 0;
}
