.cat4 {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 270px;
  border-radius: 5px;
  border: 1px;
  background-color: linear-gradient(0deg, #9b3434, #9b3434),
    linear-gradient(0deg, #ffffff, #ffffff);
  border: 1px solid rgba(155, 52, 52, 1);
}

.ico4 {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.name4 {
  color: rgba(155, 52, 52, 1);
  width: 54px;
  height: 13px;
  position: absolute;
  top: 8px;
  left: 30px;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
