.titulo {
  color: #fff;
  text-align: center;
  font-family: Kaushan Script;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
<<<<<<< HEAD
  top: -290px;
<<<<<<< HEAD
=======
>>>>>>> 0158e48b4e8c5ba427c8ee183198c425f3dcd3a6
}
=======
}
>>>>>>> Derix
