.titulo {
  color: #fff;
  text-align: center;
  font-family: Kaushan Script;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  top: -290px;
<<<<<<< HEAD
}
=======
}
>>>>>>> Derix
