#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.rectangulo {
  width: 375px;
  height: 812px;
  top: -557px;
  left: 246px;
  border-radius: 30px;
  background-color: #b7b7b7;
}
