:root {
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border: 1px solid transparent;
  font-family: Poppins;
}

.titulo1 {
  font-family: "Kaushan Script", cursive;
}

.titulo2 {
  font-family: "Modern Antiqua", serif;
}
