.btn3 {
  width: 245px;
  height: 46px;
  position: absolute;
  top: 734px;
  left: 72px;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    #e2d6d6 45.83%,
    rgba(226, 214, 214, 0.44) 100%
  );
  color: rgba(244, 85, 114, 1);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
