.btn1 {
  width: 245px;
  height: 46px;
  border-radius: 30px;
  position: absolute;
  top: 602px;
  left: 72px;
  background-color: rgba(148, 27, 29, 1);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
